
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add these keyframe animations to your CSS */
@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}